<div class="container">
    <div *ngIf="afAuth.authState | async; let user; else showLoginnow"></div>
    <ng-template #showLoginnow>
      <div class="omb_login">
        <h3 class="omb_authTitle">Forgot your password?
        </h3>  
        <form (ngSubmit)="resetPassword(formLogin);" class="omb_loginForm" #formLogin="ngForm" autocomplete="off">
          <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">             
              <p>
                  Enter your email address to reset your password. You may need to check your spam folder or unblock.
              </p>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input type="text" class="form-control" ngModel #txtUserName="ngModel" name="username" placeholder="Email address" email
                  required>
              </div>
              <span class="help-block" *ngIf="txtUserName.touched && txtUserName.errors?.required">
                Email is required.
              </span>
              <span class="help-block" *ngIf="txtUserName.touched && txtUserName.errors?.email">
                Email is invalid.
              </span>  
              <br/>           
              <span class="text-success" *ngIf="error" >{{ error }}</span>
              <p class="text-success" *ngIf="msg" >{{ msg }}</p>   
              <br/>
              <button [disabled]="formLogin.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  
            </div>
          </div>
          <div class="row omb_row-sm-offset-3 row_bottom_login">
             
              <div class="col-xs-12 col-sm-6">
                <p class="omb_forgotPwd">
                  <a routerLink="/">Back Home</a>
                </p>
              </div>
            </div>
        </form>
      </div>
    </ng-template>
  </div>
